[defaults]
inventory = inventory/localhost.yml
roles_path = roles
library = roles/common/library:roles/extensions_skins/library:roles/backup/library
gathering = explicit
stdout_callback = default
callback_plugins = callback_plugins
deprecation_warnings = False
nocows = True
retry_files_enabled = False

[privilege_escalation]
become = False
