apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{.Namespace}}

resources:
  - kubernetes/namespace.yaml
  - kubernetes/web.yaml
  - kubernetes/db.yaml
  - kubernetes/caddy.yaml
  - kubernetes/varnish.yaml
  - kubernetes/elasticsearch.yaml
  - kubernetes/backup.yaml

configMapGenerator:
  - name: canasta-config
    files:
      - config/Caddyfile
      - config/Caddyfile.custom
      - config/Caddyfile.global
      - config/default.vcl
      - config/my.cnf
  - name: canasta-env
    envs:
      - .env
{{- if .Image}}

images:
  - name: ghcr.io/canastawiki/canasta
    newName: {{.Image}}
{{- end}}
