apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
spec:
  selector:
      app: elasticsearch
  ports:
    - name: elasticsearch-http
      protocol: TCP
      port: 9200
      targetPort: 9200
    - name: elasticsearch-transport
      protocol: TCP
      port: 9300
      targetPort: 9300

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elasticsearch-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "1Gi"
  volumeMode: Filesystem

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
spec:
  selector:
    matchLabels:
      app: elasticsearch
  replicas: 1
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
        resources:
          limits:
            memory: "1Gi"
          requests:
            memory: "256Mi"
            cpu: "200m"
        env:
          - name: discovery.type
            value: "single-node"
          - name: bootstrap.memory_lock
            value: "true"
          - name: ES_JAVA_OPTS
            value: "-Xms512m -Xmx512m"
        ports:
        - containerPort: 9200
          name: http
        - containerPort: 9300
          name: transport
        volumeMounts:
        - name: elasticsearch-data
          mountPath: /usr/share/elasticsearch/data
      volumes:
      - name: elasticsearch-data
        persistentVolumeClaim:
          claimName: elasticsearch-data
