apiVersion: v1
kind: Service
metadata:
  name: opensearch
spec:
  selector:
    app: opensearch
  ports:
    - protocol: TCP
      port: 9200

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "1Gi"
  volumeMode: Filesystem

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: opensearch
spec:
  selector:
    matchLabels:
      app: opensearch
  replicas: 1
  template:
    metadata:
      labels:
        app: opensearch
    spec:
      containers:
      - name: opensearch
        image: opensearchproject/opensearch:2.11.1
        resources:
          requests:
            memory: "1Gi"
            cpu: "200m"
          limits:
            memory: "1536Mi"
            cpu: "500m"
        env:
          - name: discovery.type
            value: "single-node"
          - name: bootstrap.memory_lock
            value: "true"
          - name: plugins.security.disabled
            value: "true"
          - name: OPENSEARCH_JAVA_OPTS
            value: "-Xms512m -Xmx512m"
        ports:
        - containerPort: 9200
        startupProbe:
          httpGet:
            path: /_cluster/health
            port: 9200
          failureThreshold: 30
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /_cluster/health
            port: 9200
          periodSeconds: 15
          timeoutSeconds: 10
        livenessProbe:
          httpGet:
            path: /_cluster/health
            port: 9200
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
        volumeMounts:
        - name: opensearch-data
          mountPath: /usr/share/opensearch/data
      volumes:
      - name: opensearch-data
        persistentVolumeClaim:
          claimName: opensearch-data
