apiVersion: v1
kind: Service
metadata:
  name: varnish
spec:
  selector:
      app: varnish
  ports:
    - protocol: TCP
      port: 80

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: varnish
spec:
  selector:
    matchLabels:
      app: varnish
  replicas: 1
  template:
    metadata:
      labels:
        app: varnish
    spec:
      containers:
      - name: varnish
        image: varnish:7.0.2-alpine
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        ports:
        - containerPort: 80
        volumeMounts:
          - name: default-vcl-config
            mountPath: /etc/varnish/default.vcl
            subPath: ./default.vcl
      volumes:
          - name: default-vcl-config
            configMap:
              name: canasta-config
              items:
              - key: "default.vcl"
                path: "default.vcl"
---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: varnish-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: varnish
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
