[data-md-color-scheme="default"] {
  --md-primary-fg-color: #666666;
  --md-accent-fg-color: #ccff00;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #666666;
  --md-accent-fg-color: #ccff00;
}
