[data-md-color-scheme="default"] {
  --md-primary-fg-color: #666666;
  --md-accent-fg-color: #b2dc0a;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #666666;
  --md-accent-fg-color: #ccff00;
}

h2 {
  border-bottom: 1px solid #ccff00;
}
