<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Listen for Xdebug" type="PhpRemoteDebugRunConfigurationType" factoryName="PHP Remote Debug">
    <option name="serverName" value="canasta-dev" />
    <option name="ideKey" value="PHPSTORM" />
    <method v="2" />
  </configuration>
</component>
