services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile.xdebug
      args:
        BASE_IMAGE: ${CANASTA_IMAGE:-ghcr.io/canastawiki/canasta:latest}
    image: canasta-xdebug:local
    volumes:
      - ${DEV_CODE_PATH:-./mediawiki-code}:/var/www/mediawiki/w
      - ./config/xdebug.ini:/etc/php/8.1/fpm/conf.d/99-xdebug.ini:ro
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003
      PHP_IDE_CONFIG: serverName=canasta-dev
