apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: canasta
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/CanastaWiki/Canasta-Kubernetes.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
