# This workflow will build and publish a release of Canasta-CLI on pushing to the 'main' branch.
# It also automatically grabs the current latest version and increments the minor version.

name: Go build

on:
  push:
    branches:
      - main

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.generate.outputs.new_version }}
    steps:
    - name: Generate Version Tag
      id: generate
      run: |
        latest_version_raw="$(curl -s https://api.github.com/repos/${{ github.repository }}/releases | grep -m 1 "html_url" | rev | cut -d/  -f1 | rev  )"
        latest_version="${latest_version_raw%??}"
        major_version=$(echo $latest_version | cut -d. -f1 | cut -dv -f2)
        minor_version=$(echo $latest_version | cut -d. -f2)
        patch_version=$(echo $latest_version | cut -d. -f3)
        minor_version=$(expr $minor_version + 1)
        new_version=$(echo "v$major_version.$minor_version.$patch_version")
        echo $new_version
        echo "new_version=$new_version" >> $GITHUB_OUTPUT
  build:
    runs-on: ubuntu-latest
    needs: version
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.25'
    - name: Build for ${{ matrix.goos }}/${{ matrix.goarch }}
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        VERSION: ${{ needs.version.outputs.new_version }}
      run: sh build.sh
    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: canasta-${{ matrix.goos }}-${{ matrix.goarch }}
        path: ./build/canasta-${{ matrix.goos }}-${{ matrix.goarch }}
  release:
    runs-on: ubuntu-latest
    needs: [version, build]
    steps:
    - name: Download executables
      uses: actions/download-artifact@v4
      with:
        path: ./build
        merge-multiple: true
    - name: Publish
      uses: softprops/action-gh-release@v1
      id: publish
      with:
        draft: false
        tag_name: ${{ needs.version.outputs.new_version }}
        fail_on_unmatched_files: true
        generate_release_notes: true
        append_body: true
        files: |
          ./build/canasta-linux-amd64
          ./build/canasta-linux-arm64
          ./build/canasta-darwin-amd64
          ./build/canasta-darwin-arm64
